noderednodes.txt
[{"id":"10a20cbb.f767fb","type":"ibmiot in","z":"5dea5c8d.982314","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"alex","applicationId":"","deviceType":"bear","eventType":"buttonpressed","commandType":"","format":"json","name":"Incoming Feeling","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":false,"x":415,"y":122,"wires":[["1f21a460.202a24","d896c2e8.202778","48b328c6.068f6"]]},{"id":"d896c2e8.202778","type":"template","z":"5dea5c8d.982314","name":"Create message","field":"payload","format":"handlebars","template":"Dear parent, your child is feeling {{payload.emotion}}. Send your child a message of consolation. Or, press \"*\" to send a motivational message.","x":678,"y":72,"wires":[[]]},{"id":"f7c9a536.6dbb8","type":"inject","z":"5dea5c8d.982314","name":"emotionPrompt","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":661,"y":347,"wires":[["ef9411c8.ca0e7"]]},{"id":"ef9411c8.ca0e7","type":"ibmiot out","z":"5dea5c8d.982314","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"alex","deviceType":"bear","eventCommandType":"interactive","format":"json","data":"{\"interactive\":true, \"text\": [\"What are you feeling?\", \"\"], \"options\":[\"Joy\", \"Fear\", \"Anger\", \"Disgust\", \"Sadness\"]}","name":"Interactive Message","service":"registered","x":859,"y":407,"wires":[]},{"id":"5761de04.f215","type":"http in","z":"5dea5c8d.982314","name":"","url":"/twilio","method":"post","swaggerDoc":"","x":142,"y":192,"wires":[["a3de74e8.743f98","3d6ee085.c3caf8"]]},{"id":"30a0082.71ef1f8","type":"ibmiot out","z":"5dea5c8d.982314","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"alex","deviceType":"bear","eventCommandType":"text","format":"json","data":"{}","name":"Static Message","service":"registered","x":865,"y":230,"wires":[]},{"id":"a3de74e8.743f98","type":"http response","z":"5dea5c8d.982314","name":"","x":332,"y":192,"wires":[]},{"id":"3d6ee085.c3caf8","type":"switch","z":"5dea5c8d.982314","name":"","property":"payload.Body","rules":[{"t":"eq","v":"*"},{"t":"eq","v":"#"},{"t":"else"}],"checkall":"true","outputs":3,"x":333,"y":237,"wires":[["16393831.8730e"],["584f394d.d73618"],["978c9aa3.755598"]]},{"id":"978c9aa3.755598","type":"function","z":"5dea5c8d.982314","name":"Text Message","func":"return {\"payload\": JSON.stringify({\"text\":[\"Teddy Bear Says:\", msg.payload.Body]})};","outputs":1,"noerr":0,"x":675,"y":277,"wires":[["30a0082.71ef1f8"]]},{"id":"82efdb9a.fb2b4","type":"http in","z":"5dea5c8d.982314","name":"","url":"/childMoods","method":"get","swaggerDoc":"","x":169,"y":503,"wires":[["ad26d1be.8fbc"]]},{"id":"4aeae416.19093c","type":"http response","z":"5dea5c8d.982314","name":"emotionLog","x":900,"y":503,"wires":[]},{"id":"d0553a3f.c529d","type":"cloudant out","z":"5dea5c8d.982314","service":"outsideinhack-cloudantNoSQLDB","cloudant":"","name":"","database":"childmoods","payonly":true,"operation":"insert","x":841,"y":123,"wires":[]},{"id":"720d5e29.b834","type":"cloudant in","z":"5dea5c8d.982314","service":"outsideinhack-cloudantNoSQLDB","cloudant":"","name":"","database":"childmoods","search":"_idx_","design":"bydate","index":"date","x":585,"y":503,"wires":[["67d95210.670994"]]},{"id":"1f21a460.202a24","type":"function","z":"5dea5c8d.982314","name":"","func":"msg.payload.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"x":677,"y":123,"wires":[["d0553a3f.c529d"]]},{"id":"c56eabbf.424938","type":"ibmiot in","z":"5dea5c8d.982314","authentication":"boundService","apiKey":"","inputType":"devsts","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"Device Connected","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","x":152,"y":414,"wires":[["3c0f2a0f.c2817e"]]},{"id":"3c0f2a0f.c2817e","type":"switch","z":"5dea5c8d.982314","name":"","property":"payload.Action","rules":[{"t":"eq","v":"Connect"},{"t":"else"}],"checkall":"true","outputs":2,"x":353,"y":414,"wires":[["584f394d.d73618"],[]]},{"id":"584f394d.d73618","type":"function","z":"5dea5c8d.982314","name":"","func":"return {};","outputs":1,"noerr":0,"x":514,"y":407,"wires":[["d0de9249.e56e8"]]},{"id":"d0de9249.e56e8","type":"delay","z":"5dea5c8d.982314","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":676,"y":407,"wires":[["ef9411c8.ca0e7"]]},{"id":"48b328c6.068f6","type":"function","z":"5dea5c8d.982314","name":"Blank Message","func":"return {\"payload\":JSON.stringify({\"text\":[\"\",\"\"]})};","outputs":1,"noerr":0,"x":672,"y":183,"wires":[["30a0082.71ef1f8"]]},{"id":"16393831.8730e","type":"function","z":"5dea5c8d.982314","name":"Text Message","func":"return {\"payload\": JSON.stringify({\"text\":[\"Teddy Bear Says:\", \"What you do today can improve all your tomorrows.\"]})};","outputs":1,"noerr":0,"x":677,"y":230,"wires":[["30a0082.71ef1f8"]]},{"id":"ad26d1be.8fbc","type":"function","z":"5dea5c8d.982314","name":"","func":"msg.payload = {\n    \"query\": \"*:*\",\n    \"sort\": \"-date<string>\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":503,"wires":[["720d5e29.b834"]]},{"id":"67d95210.670994","type":"function","z":"5dea5c8d.982314","name":"","func":"msg.headers = {\"Access-Control-Allow-Origin\": \"*\"};\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":503,"wires":[["4aeae416.19093c"]]}]